.layout{
    position:relative;
    padding-left:60px;
}

.right-portion img{
    height:216px;
}

aside.sidebar-container {
    position: fixed;
    left: 0px;
    width: 60px;
    height: 100%;
}

.right-portion{
    position: relative;
}

.right-portion .fixed-IT{
   position: fixed;
   width:calc(100% - 60px);
   background-color:#fff;
   
}

.right-portion .scroll-func{
    padding-top:70px;
}

